
<html>

<body>
<style>

    .foot {
   position: absolute;
    height:200px;
    width: 20%;
  color: #241f1f;
   text-align: center;
}
    .center {
    margin: auto;
    width: 80%;
    border: 3px solid #0f0217;
    padding: 15px;
         background-color: rgba(86, 220, 239, 0.64);
    }
        
        
       </style>
   

    <div class="center"><p style="font-weight: bold; color: rgba(40, 129, 217, 0.78);">
    
                <p><b><i>About : The Optical Shop is dedicated to providing you with the highest standards of professional eye care, together with a friendly service, quality products and excellent value.
                    As an established independent opticians, we are free to select the best products from any manufacturer. This means we are able to offer you a wide choice of eyewear with quality frames.</i></b></p>
    </div>
    
       
        
       
     <footer class="container-fluid footer text-center navbar-fixed-bottom " style=" height:50px; left:-18px;background-color: #1e8d8d ;width: 2500px; font-family: 'Oxygen', sans-serif; font-size: 20px; color: white; position:fixed; bottom:0;">
<div><br>
<p style="position: relative; top: -25px;left:-550px;color: white"><b>blueopticals@miraclesoft.com</b></p>
</div>
          <div>
    <a href="https://www.facebook.com/" target="_blank"class="pos fa fa-facebook"></a>
    </div>
    <div>
    <a href="https://twitter.com/login?lang=en"  target="_blank"class="tweet fa fa-twitter"></a>
    </div>
    <div><a href="https://www.instagram.com/?hl=en" target="_blank"class="insta fa fa-instagram"></a>
    </div>
      
</footer> 
    
     
    
    </body>

</html>
