 
<div class="panel panel-default font" ng-init="getSpects()" style="width: 50%; opacity: 0.8; font-weight: 600; color: black;">
	<div class="panel-heading" style=" color: black;">
	  <p class="panel-title font">
          <span style="color:#5bc0de;" 
class="glyphicon glyphicon-list"> </span> Update List</p>
	</div>
	<div style="color: black;">
		<table class="table" style="width:100%;" >
			<thead>
			<tr>
			  <th>Brand</th>
			  <th>Spects Id</th>
			  <th>Actions</th>
			</tr>
			</thead>
			<tbody style="font-size: 15px; font-weight: lighter;">
			<tr ng-repeat="spect in spects">
			  <td>{{ spect.brand }}</td>
			  <td>{{ spect.id }}</td>
			  <td> 
			    <a href="#/spects/{{spect._id}}/update" class="btn btn-warning btn-md"><span class="glyphicon glyphicon-edit"> </span> Edit </a>
			  </td>
			</tr>
			</tbody>
		</table>	
        
    </div>
    
</div>
<a href="#/" class="btn btn-default"> Go Back</a>